services:
  mongodb:
    image: mongo:7
    container_name: mongodb_c
    ports:
      - "27030:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: backend_c
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/app
    working_dir: /app
    stdin_open: true
    tty: true
    environment:
      - MONGO_URL=mongodb://mongodb:27017/mydatabase
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: frontend_c
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    working_dir: /app
    stdin_open: true
    tty: true
    depends_on:
      - backend

volumes:
  mongo-data:
